<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.bigdata.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ly.bigdata.po.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="sexid" property="sexid" />
        <result column="roleid" property="roleid" />
        <result column="age" property="age" />
        <result column="email" property="email" />
        <result column="comment1" property="comment1" />
        <result column="comment2" property="comment2" />
        <result column="comment3" property="comment3" />
    </resultMap>

</mapper>
